@font-face {
  src: url('../fonts/fraunces-v10-latin-700.woff2') format('woff2'),
  url('../fonts/fraunces-v10-latin-700.woff') format('woff');
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  src: url('../fonts/fraunces-v10-latin-900.woff2') format('woff2'),
  url('../fonts/fraunces-v10-latin-900.woff') format('woff');
  font-family: 'Fraunces';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Barlow-Regular.woff2') format('woff2'),
  url('./fonts/Barlow-Regular.woff') format('woff');
  font-family: 'Barlow';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  src: url('../fonts/Barlow-Bold.woff2') format('woff2'),
  url('../fonts/Barlow-Bold.woff') format('woff');
  font-family: 'Barlow';
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}