// about-section
.about__inner{
  background-image: url("../images/about-bg.png") ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  border-radius: 10px;
  padding: 137px 85px;
  margin-bottom: 168px;
}

.about__info{
  width: 445px;
}

.about__title{
  font-family: Fraunces;
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin-bottom: 24px;
}

.about__text{
  line-height: 26px;
  color: #FEFCF7;
  margin: 0;
}


@media only screen and (max-width: 992px) {

  .about__inner {
    background-image: url("../images/about-tablet-bg.jpg");
    padding: 118px 58px;
  }

  .about__title{
    font-size: 32px;
    line-height: 40px;
  }
  .about__text{
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }
}

@media only screen and (max-width: 560px) {

  .about__inner {
    background-image: url("../images/about-mobile-bg.jpg");
    padding: 111px 24px  87px;
    margin-bottom: 100px;
  }

  .about__info{
    width: 100%;
    text-align: center;
  }

  .about__title{
    font-size: 28px;
    line-height: 28px;
  }
  .about__text{
    font-size: 15px;
    line-height: 25px;
    opacity: 0.8;
  }
}
