// commitment
.commitment{
  padding-bottom: 240px;
}

.commitment__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 85px;
}

.commitment__img-box{
  width: 46%;
}

.commitment__img{
  width: 100%;
  border-radius: 10px;
}

.commitment__info{
  width: 45%;
}

.commitment__title{
  font-family:"Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #333D4B;
  margin-bottom: 32px;
}

.commitment__text{
  line-height: 26px;
  color: #333D4B;
  mix-blend-mode: normal;
  opacity: 0.8;
}


@media only screen and (max-width: 992px){

  .commitment__inner{
    padding: 0;
  }


  .commitment__info{
    width:46%;
  }

  .commitment__title{
    font-size: 32px;
  }

  .commitment__text{
    font-size: 15px;
    line-height: 25px;
  }
}


@media only screen and (max-width: 660px){


  .commitment__inner{
    flex-direction: column;
    text-align: center;
  }

  .commitment__img-box{
    width: 100%;
    margin-bottom: 48px;
  }

  .commitment__info{
    width:100%;
    text-align: center;
  }
}
