// site-footer

.footer{
  padding-bottom: 150px;
}

.footer__inner{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 47px 85px 49px ;
}

.footer__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__item + .footer__item{
  margin-left: 33px;
}

.footer__link{
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888F;
}

.footer__link:hover{
  color: #FEFCF7;
}

.footer__link:active{
  color: #FEFCF7;
}

.contact-info{
  display: flex;
  align-items: center;
}

.contact-info__link{
  margin-left: 24px;
}

.contact-info__img{
  fill: #FEFCF7;
}

.contact-info__img:hover{
  fill: #FDD6BA;
}

.contact-info__img:active{
  fill: #FDD6BA;
}

@media only screen and (max-width:931px){

  .footer__logo-img{
    width: 210px;
    height: 22px;
  }

  .footer__link{
    font-size: 11px;
  }
}

@media only screen and (max-width:851px){

  .footer__inner{
    flex-direction: column;
  }

  .footer__logo-img{
    width: 236px;
    height: 26px;
    margin-bottom: 34px;
  }

  .footer__menu{
    text-align: center;
    margin-bottom: 65px;
  }

  .contact-info__link{
    margin-left: 0;
  }

  .contact-info__link + .contact-info__link{
    margin-left: 24px;
  }
}

@media only screen and (max-width:440px){

  .footer__menu{
    margin-bottom: 49px;
  }

  .footer__list{
    flex-direction: column;
  }

  .footer__item + .footer__item{
    margin-top: 24px;
    margin-left: 0;
  }
}