// site-header
.header{
  padding: 45px 0;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__img{
  width: 236px;
  height: 26px;
}

.site-menu__list{
  display: flex;
  align-items: center;
}

.site-menu__link{
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #83888F;
  margin-left: 32px;
}

.site-menu__link:hover{
  color: #333D4B;
}

.site-menu__link:active{
  color: #333D4B;
}

.header__humb{
  display: none;
}


@media only screen and (max-width:992px){
.header{
  padding: 40px 0 53px;
}
}

@media only screen and (max-width:560px){
  .header{
    padding: 32px 0 40px;
  }

  .site-menu{
display: none;
  }

  .header__humb{
    display: block;
  }

  }