// quality-section

.quality__inner{
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: #2C343E;
  border-radius: 12px;
  align-items: center;
  padding: 88px 85px 170px;
}

.quality__info{
  width: 45%;
}

.quality__title{
  font-family: "Fraunces";
  font-weight: 900;
  font-size: 40px;
  line-height: 48px;
  color: #FEFCF7;
  margin: 0;
  margin-bottom: 32px;
}

.quality__text{
  line-height: 26px;
  color: #FEFCF7;
  opacity: 0.8;
}

.quality__img{
  position: absolute;
  top: -88px;
  right: 85px;
  border-radius: 12px;
}


@media only screen and (max-width: 992px){

.quality__inner{
  padding: 224px 74px 67px ;
}

.quality__info{
  width: 100%;
  text-align: center;
  padding-top: 80px;

}

.quality__img{
width: 70%;
  object-fit: contain;
  border: 12px;
  top: -160px;
  left: 0;
  right: 0;
  margin: 0 auto;

}
}


@media only screen and (max-width: 660px){

  .quality__inner{
    padding: 140px 74px 60px ;
  }


}