// service-section
.service{
  margin-bottom: 188px;
}
.service__menu{
  width: 1111px;
  position: relative;
  margin: 0 auto;
  padding: 50px 0;
}

.service__menu::after {
  content:"";
  width: 100%;
  height: 196px;
  background: url("../images/our-collection.png");
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -2;
}

.service__menu::before{
  content:"";
  width: 100%;
  height: 130px;
  background: linear-gradient(180deg, rgba(254, 252, 247, 0.0001) 0%, #FEFCF7 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.service__list{
  display: flex;
  padding: 0;
}

.service__item{
  width: 256px;
  align-items: center;
  margin-right: 30px;
}

.service__image{
  width: 255px;
  height: 193px;
  margin-bottom: 71px;
}

.service__title{
  position: relative;
  font-family: Fraunces;
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #333D4B;
  margin-bottom: 24px;
}

.service__text{
  line-height: 26px;
  text-align: center;
  color: #333D4B;
}